[submodule ".gitmodules.d/nord-dircolors"]
	path = .gitmodules.d/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
[submodule ".config/bat/themes/nord-sublime-text"]
	path = .config/bat/themes/nord-sublime-text
	url = https://github.com/arcticicestudio/nord-sublime-text.git
